<div class="container__black-friday">
  <app-big-card titleBigCard="Dicas para Black Friday" photoDesktop="/assets/images/fullbanner_04.png">
    <app-button title="Próximo Artigo" link="/tendencias"></app-button>
  </app-big-card>
  <app-big-card titleBigCard="Dicas para Black Friday" photoMobile="/assets/images/fullbanner_mobile_04.png">
    <app-button title="Próximo Artigo" link="/tendencias"></app-button>
  </app-big-card>
  <app-info-card
  titleInfo="Oito dicas fundamentais:"
  descriptionInfo="
  1 - Planeje com antecedência:
  Antes do grande dia, faça uma lista das peças que você deseja adicionar ao seu guarda-roupa. Seja específico sobre os itens que estão em alta e que complementarão seu estilo pessoal. Ter um plano ajudará a evitar compras por impulso e a focar nas verdadeiras prioridades.

  2 - Pesquise preços com antecedência:
  Não confie apenas nos descontos anunciados na Black Friday. Acompanhe os preços dos itens desejados nas semanas que antecedem o evento para ter uma ideia real do quanto você está economizando. Às vezes, os descontos podem não ser tão significativos quanto parecem à primeira vista.

  3 - Cadastre-se nas newsletters das lojas:
  Muitas lojas enviam cupons de desconto exclusivos para assinantes de suas newsletters. Ao se cadastrar previamente, você pode receber ofertas especiais e ficar por dentro das promoções antes mesmo de elas serem divulgadas publicamente.

  4 - Priorize itens versáteis:
  Durante a Black Friday, dê preferência a peças versáteis que possam ser facilmente combinadas com o que você já tem no armário. Optar por itens atemporais garante que você continuará usando suas compras muito depois do frenesi da Black Friday.

  5 - Aproveite para investir em peças de qualidade:
  Se o seu orçamento permitir, considere investir em peças de qualidade que resistirão ao teste do tempo. Materiais duráveis e cortes clássicos garantem um guarda-roupa elegante e duradouro.

  6 - Compare ofertas online e offline:
  A Black Friday não se limita apenas às lojas físicas. Muitas lojas online também oferecem descontos significativos. Compare os preços e verifique as condições de frete para garantir que está fazendo a melhor escolha.

  7 - Fique atento às políticas de devolução:
  Antes de finalizar a compra, certifique-se de entender as políticas de devolução da loja. Isso é crucial caso haja arrependimento ou se a peça não atender às suas expectativas.

  8 - Evite compras impulsivas:
  Por fim, mantenha o controle emocional durante a Black Friday. Evite compras impulsivas e leve em consideração a real necessidade e utilidade de cada peça. Compras conscientes são a chave para um guarda-roupa equilibrado e atualizado.

  Ao seguir essas dicas, você estará preparado para aproveitar a Black Friday de forma inteligente, garantindo peças estilosas e atualizadas sem comprometer seu orçamento. Que essa temporada de descontos seja não apenas uma oportunidade de renovar o guarda-roupa, mas também de fazer escolhas conscientes e alinhadas com o seu estilo pessoal.">
  </app-info-card>
</div>
