<app-big-card titleBigCard="Azul cintilante do momento!" photoDesktop="/assets/images/fullbanner_03.png">
  <app-button title="Próximo Artigo" link="/outono"></app-button>
</app-big-card>
<app-big-card titleBigCard="Azul cintilante do momento!" photoMobile="/assets/images/fullbanner_mobile_03.png">
  <app-button title="Próximo Artigo" link="/outono"></app-button>
</app-big-card>
<app-info-card titleInfo="Cor Vibrante e estilo único"
  descriptionInfo="Com a chegada de uma nova estação, é hora de atualizar seu guarda-roupa com as últimas tendências da moda. Este ano, designers inovadores estão trazendo uma mistura eclética de estilos, combinando o clássico com o contemporâneo. Se você está ansioso para renovar seu visual, aqui estão algumas novidades da moda que você não vai querer perder.

  Cores Vibrantes e Estampas Arrojadas
  Esta temporada é tudo sobre ousadia e expressão pessoal. Diga adeus aos tons neutros e dê as boas-vindas às cores vibrantes que adicionam vida ao seu guarda-roupa. Vermelhos intensos, azuis elétricos e verdes exuberantes são as escolhas perfeitas para quem quer se destacar na multidão.

  Além disso, estampas arrojadas estão em alta. Desde florais exuberantes até padrões geométricos, a moda atual encoraja a experimentação. Misture e combine estampas na cor azul cintilante para criar looks únicos que refletem sua personalidade única.

  Retorno dos Anos 90
  Os anos 90 estão de volta com força total. Peças oversized, jeans de cintura alta e camisetas gráficas estão dominando as passarelas. Incorporar elementos nostálgicos ao seu visual é uma maneira divertida de abraçar as raízes da moda contemporânea.

  Sustentabilidade na Moda
  A preocupação com o meio ambiente está moldando as escolhas de moda. Materiais sustentáveis, como algodão orgânico e tecidos reciclados, estão sendo cada vez mais utilizados por designers conscientes. Optar por peças sustentáveis não apenas faz bem para o planeta, mas também adiciona uma narrativa ética ao seu estilo.

  Acessórios Poderosos
  Nesta temporada, os acessórios desempenham um papel fundamental. Maxi brincos, bolsas statement e lenços coloridos estão elevando o jogo da moda. Não tenha medo de ousar com acessórios que roubam a cena e transformam um look simples em algo extraordinário.

  Conforto em Alta
  A moda atual valoriza o conforto sem comprometer o estilo. Tênis elegantes, malhas aconchegantes e peças athleisure estão se destacando. A ideia é combinar o melhor dos dois mundos: moda e funcionalidade.

  Conclusão
  Estas são apenas algumas das muitas novidades da moda que estão dando o que falar. Lembre-se, a moda é uma forma de expressão pessoal, então não tenha medo de experimentar e criar seu próprio estilo único. Com estas tendências, você estará preparado para arrasar nesta estação. Então, vá em frente, atualize seu guarda-roupa e deixe sua personalidade brilhar através da moda!
  ">
</app-info-card>

