button {
  width: 150px;
  height: 30px;
  background-color: var(--black);
  color: white;
  cursor: pointer;
  border: 2px solid var(--black);
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 20px;
}
