<app-big-card titleBigCard="Dicas para Black Friday?" [routerLink]="['/blackfriday']" photoDesktop="/assets/images/fullbanner_04.png"></app-big-card>
<app-big-card titleBigCard="Dicas para Black Friday?" [routerLink]="['/blackfriday']" photoMobile="/assets/images/fullbanner_mobile_04.png"></app-big-card>

<app-small-card photo="/assets/images/card_01.png" link="outono"></app-small-card>
<app-small-card photo="/assets/images/card_02.png" link="novidades"></app-small-card>
<app-small-card photo="/assets/images/card_03.png" link="tendencias"></app-small-card>
<app-small-card photo="/assets/images/card_04.png" link="verao"></app-small-card>
